/* assets/css/style-home.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
  }
  
  a:hover {
    transition: all 0.3s ease-in-out;
  }
  
  img {
    transition: transform 1s ease;
  }
  